#Intersight Settings
api_key = "apikeys"
secretkey = "path to your api key or the key as a string"
organization = "default"

#vCenter Settings
vcenter_name = "name of your vcenter target in Intersight"
Passphrase = "vCenter Administrator@vsphere.local password"

#K8s Cluster Settings 
ssh_keys         = "ssh-ed25519 your_key requiredtrash" 
    